// List Icons
// -------------------------

.#{$gi-css-prefix}-ul {
  padding-left: 0;
  margin-left: $gi-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$gi-css-prefix}-li {
  position: absolute;
  left: -$gi-li-width;
  width: $gi-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$gi-css-prefix}-lg {
    left: -$gi-li-width + (4em / 14);
  }
}
